@import "../../styles.css";

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 250px;
  background-color: var(--color-sidebar);
  height: 100vh; // Full height
  padding: 8px;
  box-sizing: border-box; // Include padding in the width
  transition: width 0.2s ease-in-out;

  border-width: 0 1px 0 0;
  border-color: var(--border);

  &:not(.expanded) {
    width: fit-content;

    .sidebar-module {
      justify-content: center;
    }

    .account-container {
      justify-content: center;
    }
  }
}

.sidebar-module {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  border-radius: 16px;
  text-decoration: none;
  color: var(--color-sidebar-foreground);

  &:hover {
    background-color: rgba(var(--color-primary), 0.25); // Slightly lighter on hover
  }

  & {
    cursor: pointer;
  }
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.account-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  transition: all 0.2s ease-in-out;

  lucide-icon {
    cursor: pointer;
  }
}

.account-left-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.account-info-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.account-name {
  font-weight: 500;
}
