@import "../../styles.css";

.accounts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  width: 100%;

  padding: 8px;
  border-width: 1px;
  border-color: var(--border);
  border-radius: 16px;
}

.account-head {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 500;
    text-align: center;
  }

  span {
    font-size: small;
  }
}

.account-balance {
  display: flex;
  justify-content: space-evenly;
}

.account-balance div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  span {
    font-size: small;
  }
}

.account-tools {
  display: flex;
  justify-content: end;

  width: 100%;
}
