:host {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  padding: 24px;

  overflow: auto;

  @media (max-width: 768px) {
    padding: 12px;
  }
}
