:host {
  display: flex;
  flex-direction: column;

  background-color: white;

  padding: 16px;

  border-width: 1px;
  border-color: var(--border);
  border-radius: 16px;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
